body{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0f0f0f;
    padding-bottom: 100px;
    cursor:url(Untitled-1/Pentools2.png), auto;
}

h1{
    color: white;
    font-size: 90px;
    font-weight: 400;
    line-height: 110px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 0px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: white;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-family: 'Lora', serif;
}

h3{
    color: white;
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}


p{
    font-size: 17px;
    color: white;
    font-weight: 100;
    line-height: 1.5;
    font-family: 'Lora', serif;
}

p1{
    line-height: 0;
    color: white;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

.example{
    font-weight: 100;
    text-align: center;
    line-height: 1.1;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    padding-top: 10px;
}

.break{
    font-weight: 100;
    text-align: center;
    line-height: 1.1;
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
}

.zinequalities{
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', cursive;
}

.a1{
    font-weight: 100;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color:#f4efed;
}

.a1:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    color: lightsalmon;
}

.a2{
    font-weight: 100;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color:#f4efed;
}

.a2:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    color:#fff321;
}

.a3{
    font-weight: 100;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color:#f4efed;
}

.a3:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    color:#caafff;
}

.a4{
    font-weight: 100;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color:#f4efed;
}

.a4:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    color: #afe9ff;
}

.a5{
    font-weight: 100;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color:#f4efed;
}

.a5:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite;
    color: aquamarine;
}

.flip02{
    font-weight: 100;
    line-height: 1.3;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    padding-bottom: 40px;
}

.weird{
    font-size: 70px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
}

img {
    max-width: 100%;
    padding-bottom: 30px;   
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



.weird:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.zines{
    height: 100%;
    background-image: url('zine.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
	body {
		width: 600px;
        margin-left: auto;
        margin-right: auto;
	}
}
    



